footer{
    bottom:0;
    width: 100%;
    height: 5em;
    background-color: #61DAFB;
  }

footer p{
    text-align: center;
    padding: 0.5em;
    color: #000;
    font-size: 18px;
}

footer p span{
  font-weight: bold;
}

footer p .copyright{
  color: #282c34;
  text-align: center;
  padding-top: 5px;
}