*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to bottom, 
    #61DAFB 0%,
    #61DAFB 40%,
    #2C3E50 60%,
    #000 100%);
  font-family: 'Arial', 'Helvetica', sans-serif;
}
